.pages_row {
    margin: 20px auto 0 auto;
}
.number {
    padding: 10px 10px;
    /*margin: 0px 5px;*/

    max-width: 20%;
}

.number:hover {
    border-top: 1px solid #fff;
    cursor: pointer;
    background: rgba(256, 256, 256, 0.1);
}

.current_number {
    padding: 10px 10px;
    /*margin: 0 5px;*/
    border-top: 1px solid #fff;
    cursor: pointer;
    background: rgba(0, 139, 139, 0.5);
}
.disabled {
    pointer-events: none;
    opacity: 0;
}
.navigation {
    cursor: pointer;
    padding: 0 5px;
}
.navigation:hover {
    color: rgba(0,139,139,0.8);
}
@media (max-width: 540px) {
    .number {
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .number {
        font-size: 12px;
        padding: 0 5px;
    }
}