@font-face {
    font-family: Poppins;
    src: url("fonts/Poppins-Regular.ttf");
    font-weight: 400;
}
body {
    color: #fff;
    font-family: Poppins, sans-serif;

}

body::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("./images/background-portal-github-01.jpg") no-repeat center;
    background-size: cover;
}

.container {
    margin: 50px auto 0 auto;
    text-align: center;
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}