.repository {
    text-align: left;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.repository a {
    color: #fff;
    /*word-break: break-all;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stars {
    color: goldenrod;
    flex: 1;
    text-align: right;
}

.commit {
    min-width: 230px;
    margin-left: 10px;
}

.right_box {
    flex: 1;
    text-align: right;
}

.link {
    flex: 1;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
}

.link:hover {
    background-color: rgba(0, 139, 139, 0.5);;
    border-radius: 2px;
}

.github {
    text-decoration: none;
}

.github img {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}
.github img:hover {
    border: 1px solid darkcyan;
}
@media (max-width: 760px) {
    .right_box {
        flex: 2;
    }
    .stars {
        flex: 1;
    }
    .repository {
        flex: 2;
    }
}
@media (max-width: 576px) {
.repository {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
}
}