.repository {
    text-align: left;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.repository a {
    color: #fff;
}

.repository a:hover {

}

.stars {
    /*margin-right: 20px;*/
    color: goldenrod;
    flex: 1;
    text-align: right;
}

.commit {
    text-align: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

.number {
    padding: 10px;
    margin: 0 5px;
}

.number:hover {
    border-top: 1px solid #fff;
    cursor: pointer;
    background: rgba(256, 256, 256, 0.1);
}

.current_number {
    padding: 10px;
    margin: 0 5px;
    border-top: 1px solid #fff;
    cursor: pointer;
    background: rgba(0, 139, 139, 0.5);
}

.right_box {
    /*display: flex;*/
    /*flex-direction: column;*/
    flex: 1;
    text-align: right;
}

.link {
    flex: 1;
    text-decoration: none;
    padding: 5px;
}

.link:hover {
    background-color: rgba(0, 139, 139, 0.5);;
    border-radius: 2px;
}
.github {
    text-decoration: none;
    /*cursor: pointer !important;*/
}
.github a {
  text-decoration: underline;
}