.pages_row {
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-inline-start: 0;
}
.number {
    padding: 10px 10px;
    color: white;
    max-width: 20%;
    text-decoration: none;
}

.number:hover {
    border-top: 1px solid #fff;
    cursor: pointer;
    background: rgba(256, 256, 256, 0.1);
}

.current_number a {
    padding: 10px 10px;
    /*margin: 0 5px;*/
    border-top: 1px solid #fff;
    cursor: pointer;
    background: rgba(0, 139, 139, 0.5);
}
.disabled {
    pointer-events: none;
    opacity: 0;
}
.navigation {
    cursor: pointer;
    padding: 0 5px;
}
.navigation:hover {
    color: rgba(0,139,139,0.8);
}